/* SIGNUP */

.sign-up-page {
    padding-top: 100px;
}

.sign-up {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.sign-in__title {
    padding-bottom: 30px;
}

.sign-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-label {
    font-size: 15px;
    text-transform: uppercase;
}

.sign-in__text {
    border: 1px solid gray;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.sign-form-btn {
    padding: 10px;
    font-size: 15px;
    border: 1px solid gray;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: gray;
}

.sign-form-btn:hover {
    background-color: rgb(82, 80, 80);
    color: white;
    border: 1px solid rgb(82, 80, 80);
}

/* LOGIN */
.landing {
    background-color: rgb(245, 242, 238);
    width: 100%;
    height: 100%;
}

.landing__body {
    width: 50%;
    margin: auto;
    padding-top: 90px;
}

.landing__title {
    font-size: 90px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.landing__btns {
    display: flex;
    margin: auto;
    width: fit-content;
    justify-content: flex-end;
    padding: 40px;
    border-radius: 30px;
}

.landing__btn {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    padding: 20px 40px;
    text-decoration: none;
}

button.login__btn {
    font-size: 25px;
    background-color: white;
    color: gray;
    border: 1px solid gray;
}

.login__btn:hover {
    background-color: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px gray;
}

.signup__btn {
    background-color: #f8f8f8;
    color: rgb(83, 83, 83);
    border: none;
}

.signup__btn:hover {
    background-color: rgb(73, 73, 73);
    color: rgb(247, 247, 247);
    box-shadow: 0 0 10px gray;
}

.landing__dialog {

}

/* LOGIN POPUP */

/* .page-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.479);
    z-index: 1000;
    width: 100%;
    height: 100%;

  } */

  .login__con {
    margin-top: 200px;
  }

  .login__dialog {
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 30px rgb(54, 54, 54);
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    gap: 20px;
  }

  .exit-cont {
    width: 90%;
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: -70px;

  }

  .exit-sign {
    width: fit-content;
    border: 1px solid gray;
    background-color: white;
    color:gray;
    font-size: 20px;
    padding: 2px 9px;
    float: right;
  }

  .exit-sign:hover {
    color: white;
    background-color: rgb(73, 73, 73);
  }

  .login__title {
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .login__errors {
    color: rgb(167, 92, 92);
    margin-bottom: 20px;
    font-size: 20px;
  }
  /* .login__form {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 10px;
  }

  .login__text {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
    color:gray;
  } */

  .form-label {
    color: gray;
  }

  .login__btns {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }


  .login__btn {
    background-color: white;
    border: 1px solid gray;
    font-size: 17px;
    padding: 14px 40px;
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
  }
